python-telegram-bot[ext]==21.6
aiohttp==3.10.10
aiosqlite==0.20.0
flask==3.0.3
gunicorn==23.0.0
requests==2.32.3
beautifulsoup4==4.12.3
websocket-client==1.8.0
python-dotenv==1.0.1
yt-dlp>=2025.5.22
Pillow==10.4.0
motor==3.5.1
pymongo==4.8.0
fpdf2==2.7.9
